<h2>Star</h2>

{% extends "layouts/base.html.twig" %}

{% block app %}

<h2>{{title}}</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Size</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for galaxy in galaxies %}
        <tr>
            <td>{{galaxy.id}}</td>
            <td>{{galaxy.name}}</td>
            <td>{{galaxy.size}}</td>
            <td>{{galaxy.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
